/* REF: https://ziontutorial.com/how-to-create-a-modern-website-using-html-and-css-step-by-step-website-tutorial/ */

/* Importing a font from the google font api with different weights (boldness) */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900');

/* '*' Selector: applies to everything */
*
{
    margin: 0;
    padding: 0;
    /* Includes the padding into the bounding box to make the sizes consistent, always apply to everything */
    box-sizing: border-box;
    background: #000;
}

